<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>

	<log4net configSource="Log.config" />
	<appSettings>
		<add key="ApplicationUrl" value="https://www.epam.com/"/>
		<!-- Valid values are: Chrome, Firefox. (Case insensitive.) -->
		<add key="Browser" value="chrome"/>
		<add key="Timeout" value="30"/>
	</appSettings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
</configuration>